---
const { price, frequently, title, more_info, benefits } = Astro.props;
---

<div
  class="max-w-md py-4 px-8 bg-transparent shadow-lg rounded-lg border-2 border-white my-20"
>
  <div class="flex justify-center md:justify-end md:-mt-10 md:-mr-16">
    <div
      class="border-2 boder-white rounded-full p-4 bg-retro-bg md:-rotate-45"
    >
      <span>{price}</span>
    </div>
  </div>
  <div>
    <h2
      class="text-white text-3xl font-semibold flex items-center justify-center"
    >
      {title}
    </h2>
    {
      more_info && (
        <div class="flex justify-center md:justify-end md:-mt-6 md:ml-44 md:-mr-40 text-[#F9FFB4]">
          <div class="border-2 boder-white rounded-[20px] p-4 bg-retro-bg md:-rotate-45 text-[10px]">
            <span>{more_info}</span>
          </div>
        </div>
      )
    }
    <h3
      class="text-[#F9FFB4] text-sm font-semibold flex items-center justify-center mt-3"
    >
      {frequently}
    </h3>
    <ul class="text-sm p-5">
      {
        benefits.map((benefit) => {
          return <li class="m-4">{benefit}</li>;
        })
      }
    </ul>
  </div>
</div>
